extends layout

block testimony-form
    include includes/testimony-form.jade

block main 
    a(href="javascript:history.back()", id="return") Return

    div#heading
        div.title
            h3.content= testimony.title

    div.divider

    div#testimony-detail
        p!= testimony.testimony


    div.divider

    div#testimony-footer

        p.author Posted by: #{testimony.name}


        div.tags
            if (testimonyTags && testimonyTags.length > 0)
                div.divider

                h4 Tags

                div.tags-list 
                    each tag, index in testimonyTags
                        if index === 0
                            span(class="label label-success")=tag
                        else
                            , 
                            span(class="label label-success")=tag

