extends layout

block testimony-form
    include includes/testimony-form.jade

block main 
    a(href="javascript:history.back()", class="icon-arrow-left")
    a(href="javascript:history.back()", id="return") Return

    div#heading
        div.title
            h3.content= testimony.title

    div.divider

    div#testimony-detail
        p!= testimony.testimony


    div.divider

    div#testimony-footer

        div.author 
          div.posted Posted by 
          div.colon :  
          div.name #{testimony.name}


        if (testimonyTags && testimonyTags.length > 0)
            div.divider

            div.tags
                div.title Tags

                div.colon :

                div.tags-list 
                    each tag, index in testimonyTags
                        if index === 0
                            a(class="label label-success", href="/index/#{tag}")=tag
                        else
                            , 
                            a(class="label label-success", href="/index/#{tag}")=tag

